body{
    background-color: #ECFAE5;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}
p{
     font-family: "Quicksand", sans-serif;
}

nav ul{
    list-style-type: none;
    text-align:center ;
    background-color: #B0DB9C;
    padding: 0;
    margin: 0;
    overflow: hidden;
margin-bottom: 0;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
nav a:hover{
    background-color:#CAE8BD ;
}
nav li{
    float: left;
}
.zero{
    text-align: center;
    color:#82c961;
}
.first{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-around;
gap: 2rem;
padding: 0 1rem;

    
}
.content img{
    width: 100%;
    border-radius: 8px;
    height: auto;
    height:310px;
}

 .content{
    width: 250px;
    background-color: #B0DB9C;
    border-radius: 8px;
    overflow: hidden;
box-shadow: 0 2px 4px rgba(0, 0, 0,0.2);
margin: 20px;
display: inline-block;
 }
.second-first{
padding: 16px;
}
.second-first h2{
    font: size 20px;
    margin-bottom: 8px;
color: white;
}
.second-first p{
    font-size:16px;
    line-height:1.2;
    color: white;
}

.third img{
    width: 100%;
    border-radius: 8px;
    height: auto;
}
.third{
    width: 250px;
    background-color: #B0DB9C;
    border-radius: 8px;
    overflow: hidden;
box-shadow: 0 2px 4px rgba(0, 0, 0,0.2);
margin: 20px;
display: inline-block;
 }

.second-third{
padding: 16px;
}
.second-third h2{
    font: size 20px;
    margin-bottom: 8px;
color: white;

}
.second-third p{
    font-size:16px;
    line-height:1.2;
    color: white;
}
.fifth img{
    width: 100%;
    border-radius: 8px;
    height: auto;
}

 .fifth{
    width:250px;
    background-color: #B0DB9C;
    border-radius: 8px;
    overflow: hidden;
box-shadow: 0 2px 4px rgba(0, 0, 0,0.2);
margin: 20px;
display: inline-block;
 }
.second-fifth{
padding: 16px;
}
.second-fifth h2{
    font: size 20px;
    margin-bottom: 8px;
color: white;
}
.second-fifth p{
    font-size:16px;
    line-height:1.2;
    color: white;
}
.footer{
    background-color: #DDF6D2;
    text-align: center;
    color: #82c961;
    padding: 1rem 1rem;
    border-radius:10px;
    cursor: pointer;

}
footer button{
    
    margin-left:265px;
    background-color: #82c961;
    color: white;
    border-style: none;
}
footer button:hover{
    color: #82c961;
    background-color:#DDF6D2;
    transition: 1s;
}
footer a{
    color: #82c961;
}






.panjshir{
    display: flex;
    background-color: #82c961;
    border-radius: 12px;
    max-width: 100%;
    height: 100%;
    margin: 12px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}
.city-image{
    flex: 1;
    background: url(panj.2.jpeg) cover;
    min-height: 250px;
}
.city-image.placeholder{
    background-color: #B0DB9C;
}
.city-inf0{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.city-inf0 h2{
    font-size: 28px;
    margin-bottom: 12px;
    color: white;

}





.kabul{
    display: flex;
    background-color: #82c961;
    border-radius: 12px;
    max-width: 100%;
    height: 100%;
    margin: 12px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
margin-top: 80px;
}
.city-picture{
    flex: 1;
    min-height: 250px;
}
.city-picture.placeholder{
    background-color: #B0DB9C;
}
.city-inf0r{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.city-inf0r h2{
    font-size: 28px;
    margin-bottom: 12px;
    color: white;

}

.kabul>h2 p{
    color: white;
}


.norestan{
    display: flex;
    background-color: #82c961;
    border-radius: 12px;
    max-width: 100%;
    height: 100%;
    margin: 12px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
margin-top: 80px;
}
.city-pic{
    flex: 1;
    min-height: 250px;
}
.city-pic.placeholder{
    background-color: #B0DB9C;
}
.city-inf0rm{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.city-inf0rm h2{
    font-size: 28px;
    margin-bottom: 12px;
    color: white;

}
.html{
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    
}
.one{

flex-wrap: wrap;
align-self:center;
background-color: #B0DB9C;

}
.two{
    background-color: #CAE8BD;
text-align: center;
color: white;
}
.three{
    background-color: #CAE8BD;
    padding-top: 2rem;
    color: white;
}
.two:hover{
    color: #82c961;

}
.three:hover{
    color: #82c961;
    
}
.name{
    display: block;

    margin-bottom: 10px;
}
.city{
    display: block;
}